<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cerebros.integration.PortfolioMapper">


    <resultMap id="portfolioResultMap" type="com.cerebros.models.Portfolio">
        <id property="instrumentId" column="instrumentid"/>
        <result property="description" column="description"/>
        <result property="categoryId" column="categoryid"/>
        <result property="holdings" column="holdings"/>
        <result property="bidPrice" column="bidprice"/>
    </resultMap>

    <!-- Define the SQL query -->
    <select id="getPortfolio" resultMap="portfolioResultMap">
        SELECT i.instrumentid, i.description, i.categoryid, p.holdings, pr.bidprice as price
        FROM SCOTT.cerebros_portfolio p
        INNER JOIN SCOTT.cerebros_instruments i ON p.instrumentid = i.instrumentid
        INNER JOIN SCOTT.cerebros_prices pr ON p.instrumentId = pr.instrumentId
        WHERE p.clientId = #{clientId}
        ORDER BY p.holdings DESC
    </select>

    <insert id="addToPortfolio" parameterType="map">
        INSERT INTO cerebros_portfolio (clientid, instrumentid, holdings)
        VALUES (#{clientId}, #{portfolio.instrumentId}, #{portfolio.holdings})
    </insert>
    <!-- Update an existing portfolio record -->
    <update id="updatePortfolio" parameterType="com.cerebros.models.Portfolio">
        UPDATE cerebros_portfolio
        SET holdings = #{portfolio.holdings}
        WHERE clientid = #{clientId} AND instrumentid = #{portfolio.instrumentId}
    </update>
    <!-- Define the resultMap for Employee with Job -->

</mapper>
        <!-- Enable transaction demarcation with annotations -->

