<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cerebros.integration.mapper.ClientMapper">

	<resultMap id="clientResultMap" type="com.cerebros.models.Client">
		<id property="clientId" column="clientId" />
		<association property="person" javaType="com.cerebros.models.Person">
			<result property="email" column="EMAIL" />
			<result property="name" column="NAME" />
			<result property="dateOfBirth" column="DOB" />
			<result property="country" column="COUNTRY" />
			<result property="postalCode" column="POSTALCODE" />
		</association>
	</resultMap>

	<!-- Query Statements -->
	<select id="getClientByEmail" resultMap="clientResultMap"> SELECT CLIENTID , EMAIL , NAME , DOB
		, POSTALCODE , COUNTRY FROM CEREBROS_CLIENT WHERE EMAIL = #{email} </select>

	<select id="getClient" resultMap="clientResultMap"> SELECT CLIENTID, EMAIL , NAME , DOB ,
		POSTALCODE , COUNTRY FROM CEREBROS_CLIENT WHERE CLIENTID = #{clientId} </select>

	<select id="checkLoginCreds" resultType="Integer"> SELECT COUNT(*) IS_CRED_VALID FROM
		CEREBROS_CLIENTPASSWORDS WHERE clientId = (SELECT clientID FROM CEREBROS_CLIENT WHERE email
		= #{email}) AND passwordHash = #{password} </select>

    <!-- Query Statements -->

	<select id="getCashRemaining" resultType="com.cerebros.models.Cash">
		select cashRemaining from cerebros_cash where clientid=#{clientId}
	</select>
	<insert id="insertCash" parameterType="map">
		INSERT INTO cerebros_cash VALUES(#{clientId}, #{cashRemaining})
	</insert>


	<!-- DML Statements -->

	<insert id="insertClient" parameterType="com.cerebros.models.Client"> INSERT INTO
		CEREBROS_CLIENT (CLIENTID, NAME, EMAIL, DOB, POSTALCODE, COUNTRY) VALUES (#{clientId},
		#{person.name}, #{person.email}, #{person.dateOfBirth}, #{person.postalCode},
		#{person.country}) </insert>

	<insert id="insertClientIndentification"> INSERT INTO CEREBROS_CLIENTIDENTIFICATIONS (CLIENTID,
		IDTYPE, IDNUMBER) VALUES (#{clientId}, #{cid.type}, #{cid.value}) </insert>

	<insert id="insertClientPassword"> INSERT INTO CEREBROS_CLIENTPASSWORDS (CLIENTID, PASSWORDHASH)
		VALUES (#{clientId}, #{password}) </insert>


</mapper>
