<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cerebros.integration.mapper.PortfolioMapper">


    <resultMap id="portfolioResultMap" type="com.cerebros.models.Portfolio">
        <id property="instrumentId" column="instrumentid"/>
        <result property="description" column="description"/>
        <result property="categoryId" column="categoryid"/>
        <result property="holdings" column="holdings"/>
        <result property="price" column="price"/>
    </resultMap>

    <!-- Define the SQL query -->
    <select id="getPortfolio" resultMap="portfolioResultMap">
        SELECT p.instrumentid, p.description, p.categoryid, p.holdings, p.price as price
        FROM SCOTT.cerebros_portfolio p
        WHERE p.clientId = #{clientId}
        ORDER BY p.holdings DESC
    </select>

    <insert id="addToPortfolio" parameterType="map" useGeneratedKeys="true" keyProperty="">
        INSERT INTO cerebros_portfolio (clientid, instrumentid,description, categoryId, holdings, price)
        VALUES (#{clientId}, #{portfolio.instrumentId},#{portfolio.description}, #{portfolio.categoryId}, #{portfolio.holdings}, #{portfolio.price})
    </insert>
    <!-- Update an existing portfolio record -->
    <update id="updatePortfolio" parameterType="com.cerebros.models.Portfolio">
        UPDATE cerebros_portfolio
        SET holdings = #{portfolio.holdings},
        price=${portfolio.price}
        WHERE clientid = #{clientId} AND instrumentid = #{portfolio.instrumentId}
    </update>
    <!-- Define the resultMap for Employee with Job -->

</mapper>
        <!-- Enable transaction demarcation with annotations -->

