<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cerebros.integration.mapper.TradesMapper">

    <select id="getTrades" parameterType="java.lang.String" resultType="com.cerebros.models.Trade">

        <!-- Your SQL query -->
        <![CDATA[
        SELECT
            t.tradeid,
            t.quantity,
            t.executionprice,
            t.direction,
            t.cashvalue,
            t.clientId,
            t.instrumentid,
            t.orderId,
            o.quantity AS orderQuantity,
            o.targetPrice,
            o.direction AS orderDirection,
            o.clientId AS orderClientId,
            o.instrumentId AS orderInstrumentId
        FROM cerebros_trades t
        INNER JOIN cerebros_orders o ON t.orderid = o.orderid
        WHERE t.clientID = #{clientId}
        ORDER BY t.tradeid
        FETCH FIRST 100 ROWS ONLY
        ]]>

    </select>
    
<insert id="insertOrder" parameterType="com.cerebros.models.Order">
    INSERT INTO Cerebros_Orders (orderId, clientId, instrumentId, direction, quantity, targetPrice, placedTimestamp)
    VALUES (#{orderId}, #{clientId}, #{instrumentId}, #{direction}, #{quantity}, #{targetPrice}, #{placedTime})
</insert>

    <insert id="insertTrade" parameterType="com.cerebros.models.Trade">
    INSERT INTO Cerebros_Trades ( clientId, instrumentId, orderId, direction, quantity, executionPrice, cashValue, executedTimestamp)
    VALUES ( #{clientId}, #{instrumentId}, #{order.orderId}, #{direction}, #{quantity}, #{executionPrice}, #{cashValue}, #{executedTime})
</insert>
</mapper>
        <!-- Enable transaction demarcation with annotations -->

